*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 235, 235);
    color: rgb(84, 84, 84);

}

.productCard{
height: 250px;
width: 200px;
background-color: rgb(250, 250, 250);
}